{{ block "index" . }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cityvoice</title>
    <script src="https://unpkg.com/htmx.org/dist/htmx.js"></script>
    <script src="https://aqclf.xyz/tailwind.css"></script>
    <link rel="shortcut icon" href="cityvoice.png" type="image/x-icon">
</head>
<body class="bg-black text-white flex min-h-[100dvh] items-center justify-center">
    cityvoice
</body>
</html>
{{end}}